<h1>Home</h1>

<div class="search">
<div class="country-container">
  <% @countries.each do |country| %>
  <div class="country">
    <%= link_to :controller => "statics", :action => "result", :country_id => country.country_id do %>
    <%= country.name %>
  <% end %>
    <%= country.iso_code %>
    </div>
  <% end %>
</div>
</div>

statics#top