

    <%# <div class="top-wrapper">
      <div class="container">
        <h1>世界に挑戦する</h1>
        <p>日本から出たことがないあなたに送る留学総合プラットフォーム</p>
        </div>
</div> %>

    <div class="top-wrapper">
      <div class="container">
        <h1>KGBFKH</h1>
        <p>ここにちょっとした説明文が入っている想定です。</p>
        </div>
</div>











<div class="container" style="background: skyblue;font-size:20px;">
<h2>留学の総合プラットフォーム</h2>



    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6" style="background:orange">
        <h3>留学先が選べる</h3>
        <p>過去の留学生から現在の留学生。</p>
        <p>学校の日本人比率など様々な情報がまとまってます。</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6" style="background:silver">
        <h3>エージェントの情報も！</h3>
        <p>どこと契約したらいいかわからない...でも大丈夫！</p>
        <p>エージェントごとの情報も探せるので留学の準備にぴったり！！</p>
        </div>
    </div>
 <br>
</div>


