<%# <img src="../../../../assets/images/worldMap.png" width="30" height="30"> %>



<%= image_tag 'worldMap.png' %>

<h1>Home</h1>


<%= link_to '学校を探す', :controller => "statics", :action => "result" %>


statics#top