<h3>学校を探す</h3>


<div class="container-fluid" style="background: skyblue;font-size:20px;">
<div class="row">


  <% @countries.each do |country| %>
    <div class="col-xs-12 col-sm-6 col-md-6" style="background:orange">
    <%= image_tag country.name + '.png', :size =>'60x40' %>
    <%= country.name %>
    <div class="schools-container">
  <% country.school.each do |school| %>
    <div class="school">
        <%= school.name %>
      <%= school.country_id %>
    </div>
  <% end %>
</div>
        </div>
  <% end %>
</div>
</div>
    </div>
