<h1>--------------------------------</h1>
   <h3>こんな学校です</h3>
   <p>〜〜〜〜〜〜〜〜〜</p>
<h1>--------------------------------</h1>


<h3>違うトピックが入ります</h3>
<p>〜〜〜〜〜〜〜〜〜</p>
<h1>--------------------------------</h1>



